body{
		margin: 0;
}
.house {
	width: 1024px;
  	position: absolute;
  	top: 150px;
}
.house img {
	width: inherit;
}

/******************
CALENDAR
******************/
#calendar{
	margin-left: 90px;
	margin-top: 0px;
	position: absolute;
}
/*****************
WEEATHEROWIDGET
*****************/
#weatherwidget{
	margin-left: 90px;
	margin-top: 570px;
	position: absolute;
}
/*****************
RECEPIES
*****************/
#recepies{
	margin-left: 650px;
	margin-top: 600px;
	font-weight: bold;
	width: 300px;
	text-align: right;
	font-size: 24px;
	font-family: Helvetica;
	position: absolute;
}
#wtftomakefordinner{
	font-size: 32px;
	text-transform: uppercase;
	position: absolute;
}

#clock{
	margin-top: -330px;
	margin-left: 435px;
	position: absolute;
}
