#pagewrapper{
	margin: 0 auto;
	width: 80%;
}
.center{
	text-align: center;
}
img{
	width: 30px;
}
body{
		font-family: Arial,Helvetica,sans-serif;
}
h3{
	font-size: 1.1em;
    font-weight: normal;
    line-height: 1.4em;
}
h1{
	font-size: 2em;
    font-weight: normal;
}
p{
	font-size: 1em;
    font-weight: normal;
    line-height: 1.4em;
}
ul{
	list-style:none;
	margin-left: 0;
	padding-left: 0;
} 
li{
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
}
.starbullet li:before {
  content: "\2605";
}
/*Every second item yellow
.pyamaslist li:nth-child(odd){
    background-color: #e3e9ff;
}
/*Every second item white
.pyamaslistYellow li:nth-child(odd){
    background-color: #e3e9ff;
}*/

#weather, #list, #restaurants, #takeout{
	margin-top: 20px;
	width: 25%;
	float: left;
	display: inline-block;
	/*height: 300px;*/
}
#list, #takeout{
	background-color: #fff7d7;
}
#divider{
	width: 100%;
	margin-top: 20px;
	float: left;
	display: inline-block;
}
#other{
	width: 48%;
	height: 500px;
	margin-top: 20px;
	float: left;
	display: inline-block;
	/*border: 10px solid #e3e9ff;*/
	
}
#insidetemp{
	width: 48%;
	height: 500px;
	margin-top: 20px;
	float: left;
	display: inline-block;
}
.divcontent{
	margin: 20px;
}
